#cart{
    background-color: rgb(71, 71, 71);
    position: absolute;
	top: 80px;
	right:20px;
    color: white;
    z-index:100;
}
#tshirt{
    margin-left:20px;
    margin-top:20px;
    height:80px;
    width:50px;
}
#removeicon{
    margin-right:10px;
    margin-top: 0;
    float:right;
    cursor: pointer;
}
#item{
    width:300px;
    position: relative;
    font-weight: bold;
}
#shubh{
    width: 54%;
    margin-left: 5%;
    margin-top:30px;
    color:red;
    z-index:824829;
    font-size:15px;
}
#price{
    margin-top: 25px;
    margin-right: 8px;
   float: right;
    color:yellow;
    font-size:15px;
}
.noitems{
    font-size: 20px;
}
.close{
    margin-left:-20px;
    background-color: rgb(71, 71, 71);
    padding:10px;
    cursor: pointer;
}
